.filterbubble {
    display: flex;
    padding: 5px;
    background: darkgrey;
    border-radius: 5px;
    color: white;
    font: 300 13px/10px "Source Sans Pro", "Helvetica Neue", Sans-serif;
    display:inline-block;
}