
.marker-btn {
    background: none;
    border: none;
    cursor: pointer;
  }
  
.marker-btn img {
    width: 40px;
    height: 40px;
  }

.cluster-marker {
    width: 20px;
    height: 20px;
    color: #fff;
    background: #087cdb;
    border-radius: 20px;
    text-align: center;
}; 
