

.checkboxStyle {
    padding-left: 7px;
    padding-top: 15px;
}

.rangeStyle{
    padding-top: 5px;
}

.rheostat {
    display: block;
    margin-left: 10px;
}

.rheostat-value {
    text-align: left;
}