.sidebar {
  float: left;
  width: 23%;
  margin-top: 18px;
  height: 100vh;
  overflow: auto;
  overflow-x: hidden;
  transition: all 0.5s ease 0s;
}

.sidebar_hidden {
  float: left;
  width: 0%;
  margin-top: 18px;
  height: 680px;
  overflow: hidden;
  transition: all 0.5s ease 0s;
}

.toggles-container {
  padding: 18px;
  cursor: pointer;
  position: relative;
  border: 1px solid #999;
  margin: 10px;
  background: white;
  display: inline-block;
  width: 90%;
}

.ToggleSwitch {
  display: block;
  position: relative;
  float: right;
  width: 35px;
  height: 17px;
}

.ToggleSwitch.off {
  border-radius: 25px;
  padding: 2px;
  cursor: pointer;
  background-color: lightgrey;
}
.ToggleSwitch.on {
  border-radius: 25px;
  padding: 2px;
  cursor: pointer;
  background-color: #93c02d;
}

.ToggleSwitch.off:before,
.ToggleSwitch.on:before {
  display: inline-block;
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  background-color: white;
  transition: transform 0.2s ease;
  border-radius: 50%;
}

.ToggleSwitch.on:before {
  transform: translateX(18px);
  background-color: white;
}

.uploadButton {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #003c6c;
  transition: all 0.2s;
}
.uploadButton:hover {
  color: #ffbf00;
}
