.stranding-popup {
  font: 400 15px/22px "Source Sans Pro", "Helvetica Neue", Sans-serif;
  padding: 0;
  height: 400px;
}
.stranding-popup h3 {
  background: #7e807b;
  color: #fff;
  display: block;
  padding: 10px;
  border-radius: 3px 3px 0 0;
  font-weight: 700;
  margin: -10px;
  text-align: left;
  
}

.bg-image{
  background-image: "dead_seal_icon.jpg";
}

.stranding-popup h2 {
  display: block;
  padding: 20px 5px 5px 5px;
  font-weight: 500;
  font-size: larger;
  text-align: left;
  
}
.stranding-popup p {
  margin: 0;
  display: block;
  padding: 5px;
  font-weight: 400;
  text-align: left;
}

.highlight{
  color: gray;
}