html, body {
  height: 100%;
}

.wrapper {
  height: 80%;
}

.stranding-popup {
  font: 350 14px/20px "Source Sans Pro", "Helvetica Neue", Sans-serif;
  padding: 0px;
  min-height: 300px;
  width: 220px;
}
.stranding-popup h3 {
  background: hsl(84, 2%, 49%);
  color: #fff;
  display: block;
  padding: 9px;
  border-radius: 3px 3px 0 0;
  font-weight: 500;
  margin: -10px;
  text-align: left;
  font-size: 175%;
  width: 245px;
}

.bg-image {
  background-image: "dead_seal_icon.jpg";
}

.stranding-popup h2 {
  display: block;
  padding-top: 15px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
  font-weight: 450;
  font-size: 100%;
  text-align: left;
}
.stranding-popup p {
  margin: 0;
  display: block;
  padding-top: 3px;
  padding-right: 0px;
  padding-bottom: 2px;
  padding-left: 5px;
  font-weight: 400;
  font-size: 100%;
  text-align: left;
  width: 230px;
}
.local {
  font-size: 95%;
}
.highlight {
  color: gray;
}

.mapboxgl-popup-content {
  height: 335px;
  width: 245px;
}
