.popup {
  display: block;
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 100%;
  top: 0%;
}

.popup_content {
  background-color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 400px;
  transform: translate(-50%, -50%);
  border-radius: 0.5em;
  padding: 20px;
  display: flex;
  flex-direction: row;
  height: 300px;
  width: 500px;
}

.dropzone {
  align-items: center;
  padding: 20px;
  border-width: 2px;
  border-radius: 2px;
  border-color: #eeeeee;
  border-style: dashed;
  background-color: #fafafa;
  color: #bdbdbd;
  outline: none;
  transition: border 0.24s ease-in-out;
  height: auto;
  margin: 10px;
  width: 40%;
}

.uploadButton2 {
  display: inline-block;
  padding: 0.3em 1.2em;
  margin-bottom: 10px;
  border-radius: 0.5em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  background-color: #33b633;
  text-align: center;
  transition: all 0.2s;
}
.uploadButton2:hover {
  background-color: #288528;
}

.close {
  float: right;
  font-size: 2em;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
  margin: 10px;
}

.close:hover {
  color: red;
  text-decoration: none;
}

.progress {
  margin-bottom: 5px;
}

.uploadFiles {
  width: 50%;
  padding: 20px;
  margin: 10px;
  overflow: auto;
}

.subtitle {
  text-align: left;
  font-size: small;
}

.fileName {
  text-align: left;
  margin-bottom: 0px;
  font-size: medium;
  font-weight: 500;
}

.recordID {
  text-align: left;
  margin-bottom: 0px;
  font-size: small;
}
