.left-column {
  float: left;
  width: 16%;
  margin-top: 18px;
}
.right-column {
  max-width: 84%;
  max-height: 90%;
  margin-left: 16%;
}

.marker-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.marker-btn img {
  width: 40px;
  height: 40px;
}
