.left-column {
  float: left;
  width: 23%;
  margin-top: 18px;
  height: 680px;
  overflow: auto;
  overflow-x: hidden;
}
.right-column {
  max-width: 77%;
  max-height: 90%;
  margin-left: 23%;
  margin-right: 10px;
}

.marker-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.marker-btn img {
  width: 20px;
  height: 20px;
}
