body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.marker-btn {
	background: none;
	border: none;
	cursor: pointer;
}


.marker-btn img{
	width: 20px;
	height: 20px;
} 

body {
  font-family: 'Roboto', sans-serif
}
h1 {
  font-family: 'Roboto', sans-serif
}
h2 {
  font-family: 'Roboto', sans-serif
}
h3 {
  font-family: 'Roboto', sans-serif
}
Nav {
  font-family: 'Roboto', sans-serif
}
Form {
  font-family: 'Roboto', sans-serif
}
Popup {
  font-family: 'Times New Roman', sans-serif
}
Marker {
  font-family: 'Roboto', sans-serif
}
.mapboxgl-map{
  font-family: 'Roboto', sans-serif
}

.heading {
  font-weight: 700;
}
.subheading {
  font-weight: 300;
}
